/*Big tablets to 1200px: 1023-1200px*/

@media only screen and (max-width: 1200px) {
    .mainNav {
        display: block;
    }


    #sampleBackendCode img {
        height: 270px;

    }

}



/*Small tablets to big tablets: 768-1023px*/

@media only screen and (max-width: 1024px) {

    #sampleBackendCode img {
        height: 240px;

    }

    header {
       /* height: 80vh;*/
    }
}

@media only screen and (max-width: 950px) {


    .btn:link,
    .btn:visited {

        height: 250px;
        width: 200px;
    }

    h1 {
        font-size: 140%;
    }

    .subTitleText {
        font-size: 85%;
    }

    #sampleBackendCode img {
        height: 200px;

    }
}

/*Small phones to small tablets: 481-768px*/

@media only screen and (max-width: 768px) {
    #mobile-advanced,
    #advanced_menu_toggle,
    #advanced_menu_hide {
        display: block;
    }

    header {
        background-size: 150% 325px;
        /*height: 100vh;*/
    }

    .mainNav {
        display: none;
    }

    .ion-navicon {
        display: block;
    }

    .mainHeading {
        margin-top: 15px;
    }

    .subTitle {
        margin-bottom: 20px;
    }

    .footernavsubgrid {

        grid-auto-flow: row;
    }

}

@media only screen and (max-width: 690px) {

    header {
        /*height: 200vh;*/
    }

    .subgrid {
        justify-content: center;
        grid-auto-flow: row;
    }

    .btn {
        display: block;
        margin: auto 30%;
    }

    .tile1,
    .tile2 {
        margin-bottom: 20px;
    }


    .btn:link,
    .btn:visited {
        height: 300px;
        width: 250px;
    }

    .tile2 {
        margin-bottom: 25px;
    }
}

/*Small < 580px*/

@media only screen and (max-width: 580px) {

    .logo {
        display: none;
    }

    .mainNav {

        float: right;
    }


    .mainHeading {
        padding: 30px;
    }

    .btn {
        margin: auto 15%;
    }

    .tile1,
    .tile2 {
        margin-bottom: 20px;
    }

    .footernavsubgrid {
        font-size: 80%;
    }
}
